body{
  background-color: #1a1a1a;
  color: #000000;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

form {
  text-align: center;
  margin: 100px auto;
  width: 50%;
  padding: 30px;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 10px #333;
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
  color: rgb(255, 255, 255);
}

input[type="file"] {
  padding: 10px 20px;
  margin-right: 20px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
}

input[type="submit"] {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #fff;
  color: #333;
}